<section class="timer-section">
<input type="text" class="form-control" id="title" [(ngModel)]="timmer.title" placeholder="Enter title.  e.g. Workout, Running">
	<div class="timer-actions">
		<div class="timer-counter" *ngIf="timer | async as timer_">
			{{ timer_.time.minutes }}:{{ timer_.time.seconds}} <small>{{ timer_.time.mseconds }}</small>
		</div>
		<button [hidden]="timmer.running" type="button" class="btn rounded-circle btn-success" (click)="switchTimmer()" ><i class="material-icons">play_arrow</i></button>
		<button [hidden]="!timmer.running" type="button" class="btn rounded-circle btn-danger" (click)="switchTimmer()" ><i class="material-icons">stop</i></button>
		<div class="timer-switch">
			<ul>
				<li class="active">
					<a href="" class="btn btn-sm"><i class="material-icons">timer</i></a>
				</li>
				<li class="">
					<a href="" class="btn btn-sm"><i class="material-icons">timelapse</i></a>
				</li>
			</ul>
		</div>
	</div>

</section>												


<app-log-table></app-log-table>

