
<h1>Settings</h1>

<div class="row">
	<div class="col-6">
	<h3>General</h3>
	<br>
	<br>
		<div class="row">
			<div class="col-md-4">
				avatar
			</div>
			<div class="col-md-8">
				
				<form novalidate="" #f="ngForm" (ngSubmit)="onSubmit(f)" >
					<div class="form-group">
						<label for="name">Name</label>
						<input 
							type="text" 
							name="name"
							class="form-control" 
							[(ngModel)]="user.name"
							#userName="ngModel"
							minlength="2"
							required="" 
						>
						<label for="name">Email</label>
						<input 
							type="text" 
							name="email"
							class="form-control" 
							[(ngModel)]="user.email"
							#userEmail="ngModel"		
							required="" 
						>
						<br>
						
					</div>
				</form>
			</div>
		</div>
		<input type="submit" value="Save" name="submit" class="btn btn-block btn-primary">
		
	</div>
	<div class="col-6">
		<h2>Change Password</h2>
		<form novalidate="" #passwordF="ngForm" (ngSubmit)="onSubmitPass(passwordF)" >
			<div class="form-group">
				<label for="name">Current Password</label>
				<input 
					type="password" 
					name="password"
					class="form-control" 
					[(ngModel)]="user.pass"
					#userName="ngModel"
					minlength="2"
					required="" 
				>
				<label for="name">New Password</label>
				<input 
					type="password" 
					name="newPassword"
					class="form-control" 
					[(ngModel)]="user.pass"
					#userEmail="ngModel"		
					required="" 
				>
				<label for="name">Confirm New Password</label>
				<input 
					type="password" 
					name="ConfirmNewPassword"
					class="form-control" 
					[(ngModel)]="user.pass"
					#userEmail="ngModel"		
					required="" 
				>
				<br>
				<input type="submit" value="Change" name="submit" class="btn btn-block btn-primary">
			</div>
		</form>
		
	</div>
	<div class="col-6">
		<h3>Notification</h3>
		<form novalidate #notificationsF="ngForm" (ngSubmit)="onSubmitNotif()" >
			<div class="form-group">
				<label class="custom-control custom-checkbox">
			        <input class="custom-control-input" type="checkbox" [checked]="user.settings.notifications.a" (change)="updateSetting()" name="Notification 1">
			        <span class="custom-control-indicator"></span>
			        <span class="custom-control-description">Notification 1</span>
		        </label>
			</div>
			<div class="form-group">
				<label class="custom-control custom-checkbox">
			        <input class="custom-control-input" type="checkbox" [checked]="user.settings.notifications.b" (change)="updateSetting()" name="Notification 1">
			        <span class="custom-control-indicator"></span>
			        <span class="custom-control-description">Notification 2</span>
		        </label>
			</div>
			<div class="form-group">
				<label class="custom-control custom-checkbox">
			        <input class="custom-control-input" type="checkbox" [checked]="user.settings.notifications.c" (change)="updateSetting()" name="Notification 1">
			        <span class="custom-control-indicator"></span>
			        <span class="custom-control-description">Notification 3</span>
		        </label>
			</div>
			<input type="submit" value="Save" name="submit" class="btn btn-block btn-primary">
		</form>

		
	</div>
	<div class="col-6">
		<h3>TimeZone Settings</h3>
		<form>
			<div class="form-group">
				<label>Timezone</label>
				<select class="custom-select custom-select-sm" 
					name="timezone"
					[(ngModel)]=user.settings.timezone
					#userSettingsTimezone="ngModel"
				>
					<option value="GMT">GMT</option>
					<option value="UTC">UTC</option>
				</select>
			</div>
			<div class="form-group">
				<label>Date Format</label>
				<select class="custom-select custom-select-sm" 
					name="dateformat"
					[(ngModel)]=user.settings.dateformat
					#userSettingsDateformat="ngModel"
				>
					<option value="MM-DD-YY">MM-DD-YY</option>
					<option value="MM/DD/YYYY">MM/DD/YYYY</option>
				</select>
			</div>
			<div class="form-group">
				<label>Time Format</label>
				<select class="custom-select custom-select-sm" 
					name="timeformat"
					[(ngModel)]=user.settings.timeformat
					#userSettingsTimeformat="ngModel"
				>
					<option value="12">12-hour</option>
					<option value="24">24-hour</option>
				</select>
			</div>

			<div class="form-group">
				<label>Duration Display Format</label>
				<select class="custom-select custom-select-sm" 
					name="durationformat"
					[(ngModel)]=user.settings.durationformat
					#userSettingsDurationformat="ngModel"
				>
					<option value="classic">32:02 min</option>
					<option value="full">0:32:02</option>
					<option value="humminized">32 min & 2 sec</option>
				</select>
			</div>
		</form>
	</div>
</div>
