<div class="container">
	<div class="row">

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Record Title</th>
					<th>Time</th>
					<th>Resume</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let record of records; trackBy TrackLogByFn ">
					<td>{{ record.title }}</td>
					<td>
						{{ record.count }}
					</td>
					<td>
						<button (click)="resumeLog(record.$id)" type="button" class="btn btn-sm btn-secondary">Resume</button>
					</td>
					<td>
						<button (click)="deleteLog(record.$id)" type="button" class="btn btn-sm btn-danger">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>