		{{myname}}
<div class="demo-timer">
	<div class="demo-overlay"></div>
	<section class="timer-section row ">
		<div class="col-sm-12 col-md-9">
			<!-- <span class="red-dot"></span> -->
			<input type="email" class="form-control" id="TitleInputDemo">
		</div>
		<div class="timer-actions col-sm-12 justify-content-between flex-row-reverse flex-md-row justify-content-md-end col-md-3">
			<div class="timer-counter justify-content-between">
				{{minutes}}:{{seconds}}<small>{{milliseconds}}</small>
			</div>

			<button type="button" class="btn rounded-circle btn-success timer-btn"><i class="material-icons">pause</i></button>

		</div>
		<div class="timer-switch">
			<ul>
				<li class="active">
					<a href="" class="btn btn-sm"><i class="material-icons">timer</i></a>
				</li>
				<li class="">
					<a href="" class="btn btn-sm"><i class="material-icons">timelapse</i></a>
				</li>
			</ul>
		</div>
	</section>	
</div>